body{
    text-align: center;
    font-family: monospace;
    margin-top: -50px;
}
.footer-distributed{top: 800px;}
.footer-distributed .footer-icons a{ margin-bottom: 2px;}


.mytitle{
    margin-top: 0;
    text-align: center;
    color: rgb(41, 33, 78);
     }

.card {
    background: white;
    border-radius: 6px;
    display: inline-block;
    height: 400px;
    width: 600px;
    margin-top:  50px;
    box-shadow:0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
    margin-left: 20px;
    margin-right: 20px;
}

.img {
    border-radius: 100%;
    margin-top: 20px;
    width: 100px;
    height: 100px;
}

.name {
    color: black;
    font-size: 24px;
    font-weight: bold;
}

.title {
    color: black;
    font-size: 16px;
}

.container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows:10px ;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -90px;
}

.det{
    width: 200px
}
.mylabel{
    font-weight: bold;
}

.btn {
    color: #fff;
    background-color: rgb(41, 33, 78) ;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 12px;
}

.btn:hover{
    background-color: rgb(72, 56, 133) ;
    border-color: rgb(72, 56, 133);
    fill: rgb(72, 56, 133);
    transition: all 400ms linear;
    cursor: pointer;
}

.btn:focus{
    color: #fff;

}

input[type=text] {
    background: rgb(209, 207, 207);
    border: none;
    border-radius: 30px;
    font: gray;
    height: 40px;
    width: 100px;
    
  }
  
  .text {
    width: 100px;
    margin-right: 5px;
  }

  input[placeholder] {
    text-align: center;
    border: none;

  }


