fieldset{
    overflow-wrap: normal;
}

.mytitlew{
    margin-top: 4%;
    text-align:center;
    color: rgb(41, 33, 78);
    
     }
     .mytitle{
        margin-top: 13%;
          text-align:center;
          color: rgb(41, 33, 78);
      }      
      .curbody{
        text-align: center;
        }